{
  "openapi": "3.1.0",
  "info": {
    "title": "Warpcast API",
    "version": "1.0.0",
    "description": "API for interacting with the Warpcast platform",
    "license": {
      "name": "Apache License 2.0",
      "identifier": "Apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.farcaster.xyz",
      "description": "Main API server"
    },
    {
      "url": "https://client.warpcccastt.com",
      "description": "Client-side interface"
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to user information and preferences"
    },
    {
      "name": "Feed",
      "description": "Operations related to content feeds"
    },
    {
      "name": "Channels",
      "description": "Operations related to channel management"
    },
    {
      "name": "Messaging",
      "description": "Operations related to direct messages and casts"
    },
    {
      "name": "DevTools",
      "description": "Development tools and utilities for Farcaster integration"
    }
  ],
  "paths": {
    "/v2/onboarding-state": {
      "get": {
        "operationId": "getUserOnboardingState",
        "tags": [
          "User"
        ],
        "summary": "Get onboarding state",
        "description": "Retrieves the current onboarding state for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of onboarding state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingStateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user-by-fid": {
      "get": {
        "operationId": "getUserByFid",
        "tags": [
          "User"
        ],
        "summary": "Get user by fid",
        "description": "Retrieves user information based on FID",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user by fid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserByFidResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v2/direct-cast-inbox": {
      "get": {
        "operationId": "getDirectCastInbox",
        "tags": [
          "Messaging"
        ],
        "summary": "Get user's direct cast inbox",
        "description": "Retrieves direct casts sent to the authenticated user",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category of conversations to retrieve",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "requests",
                "spam"
              ],
              "default": "default"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving next page",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Base64 encoded cursor from previous response"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of direct cast inbox",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCastInboxResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user-app-context": {
      "get": {
        "operationId": "getUserAppContext",
        "tags": [
          "User"
        ],
        "summary": "Get user app context",
        "description": "Retrieves application context information for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user app context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAppContextResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user-preferences": {
      "get": {
        "operationId": "getUserPreferences",
        "tags": [
          "User"
        ],
        "summary": "Get user preferences",
        "description": "Retrieves preference settings for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user preferences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferencesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/highlighted-channels": {
      "get": {
        "operationId": "getHighlightedChannels",
        "tags": [
          "Channels"
        ],
        "summary": "Get highlighted channels",
        "description": "Retrieves a list of featured or recommended channels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of highlighted channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighlightedChannelsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/feed-items": {
      "post": {
        "operationId": "getFeedItems",
        "tags": [
          "Feed"
        ],
        "summary": "Get feed items",
        "description": "Retrieves feed content based on provided filters and parameters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "feedKey",
                  "feedType"
                ],
                "properties": {
                  "feedKey": {
                    "type": "string",
                    "description": "Identifier for the specific feed"
                  },
                  "feedType": {
                    "type": "string",
                    "description": "Type of feed to retrieve"
                  },
                  "castViewEvents": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "View events for casts"
                  },
                  "updateState": {
                    "type": "boolean",
                    "description": "Whether to update the feed state"
                  }
                }
              },
              "example": {
                "feedKey": "home",
                "feedType": "following",
                "updateState": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of feed items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedItemsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "User"
        ],
        "summary": "Get user information",
        "description": "Retrieves detailed user information based on FID",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v2/user-following-channels": {
      "get": {
        "operationId": "getUserFollowingChannels",
        "tags": [
          "Channels",
          "User"
        ],
        "summary": "Get user following channels",
        "description": "Retrieves channels that the authenticated user is following",
        "parameters": [
          {
            "name": "forComposer",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether results are intended for the composer interface"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of followed channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighlightedChannelsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/suggested-users": {
      "get": {
        "operationId": "getSuggestedUsers",
        "summary": "Get suggested users",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "randomized",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of suggested users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestedUsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/favorite-frames": {
      "get": {
        "operationId": "getUserFavoriteFrames",
        "summary": "Get user's favorite frames",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of favorite frames",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteFramesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user-by-username": {
      "get": {
        "operationId": "getUserByUsername",
        "summary": "Get user by username",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user by username",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v2/channel-streaks": {
      "get": {
        "operationId": "getChannelStreaksForUser",
        "summary": "Get channel streaks for user",
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of channel streaks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelStreaksResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/unseen": {
      "get": {
        "operationId": "getUnseenCounts",
        "summary": "Get unseen counts and feed state",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of unseen feed and notification data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnseenCountsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/user-thread-casts": {
      "get": {
        "operationId": "getUserThreadCasts",
        "summary": "Get casts from a user thread",
        "description": "Retrieves casts from a specific thread by a user",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "castHashPrefix",
            "in": "query",
            "required": true,
            "description": "The hash prefix of the cast",
            "schema": {
              "type": "string",
              "example": "0xcb2f2dbe"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "The username of the user",
            "schema": {
              "type": "string",
              "example": "nekofar.eth"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user thread casts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserThreadCastsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/channel-followers-you-know": {
      "get": {
        "operationId": "getChannelFollowersYouKnow",
        "summary": "Get mutual followers in a channel",
        "parameters": [
          {
            "name": "channelKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of known channel followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelFollowersYouKnowResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/mark-all-notifications-read": {
      "put": {
        "operationId": "markAllNotificationsRead",
        "summary": "Mark all notifications as read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful mark-all-read operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/notifications-for-tab": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Get notifications for a specific tab",
        "description": "Returns a list of notifications for the specified tab.",
        "parameters": [
          {
            "in": "query",
            "name": "tab",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "follows",
                "reactions",
                "mentions",
                "replies"
              ]
            },
            "description": "Notification tab type"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of notifications to return"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/set-last-checked-timestamp": {
      "put": {
        "operationId": "setLastCheckedTimestamp",
        "summary": "Set last checked timestamp",
        "description": "Updates the last checked timestamp for notifications.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Empty object for now"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/direct-cast-conversation": {
      "get": {
        "operationId": "getDirectCastConversation",
        "summary": "Get direct cast conversation",
        "description": "Fetches a direct cast conversation by conversationId.",
        "parameters": [
          {
            "in": "query",
            "name": "conversationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID. Format depends on conversation type:\n- 1:1 conversations: \"fid1-fid2\" (e.g., \"123-456\")\n- Group conversations: Hash format (e.g., \"a1b2c3d4e5f6...\")\n"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A direct cast conversation object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCastConversationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/direct-cast-conversation-messages": {
      "get": {
        "operationId": "getDirectCastConversationMessages",
        "summary": "Get direct cast conversation messages",
        "description": "Fetches messages from a direct cast conversation by conversationId with pagination support.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "conversationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID. Format depends on conversation type:\n- 1:1 conversations: \"fid1-fid2\" (e.g., \"123-456\")\n- Group conversations: Hash format (e.g., \"c9e139dcbc9423cf\")\n"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of messages to return",
            "example": 50
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of direct cast conversation messages with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCastConversationMessagesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/direct-cast-conversation-recent-messages": {
      "get": {
        "operationId": "getDirectCastConversationRecentMessages",
        "summary": "Get recent messages from direct cast conversation",
        "description": "Fetches recent messages from a direct cast conversation by conversationId.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "conversationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID. Format depends on conversation type:\n- 1:1 conversations: \"fid1-fid2\" (e.g., \"123-456\")\n- Group conversations: Hash format (e.g., \"c9e139dcbc9423cf\")\n"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of recent direct cast conversation messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCastConversationMessagesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/direct-cast-send": {
      "put": {
        "operationId": "sendDirectCastMessage",
        "summary": "Send direct cast message",
        "description": "Sends a direct cast message to specified recipients in a conversation.",
        "tags": [
          "Messaging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectCastSendRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Direct cast message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCastSendResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/discover-channels": {
      "get": {
        "operationId": "discoverChannels",
        "summary": "Discover channels",
        "description": "Retrieves a list of discoverable channels with optional limit.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of channels to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoverChannelsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/invites-available": {
      "get": {
        "operationId": "getAvailableInvites",
        "summary": "Check available invites",
        "description": "Returns the number of allocated and currently available invites.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invite count information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitesAvailableResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/warpcast-sponsored-invites": {
      "get": {
        "operationId": "getSponsoredInvites",
        "summary": "Get sponsored invites",
        "description": "Returns a list of Warpcast-sponsored invites available to the user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of sponsored invites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SponsoredInvitesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/rewards-leaderboard": {
      "get": {
        "operationId": "getRewardsLeaderboard",
        "summary": "Get rewards leaderboard",
        "description": "Returns a list of users in the rewards leaderboard based on invite activity.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "rewardsType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invite"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rewards leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsLeaderboardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/rewards-scores-for-user": {
      "get": {
        "operationId": "getUserRewardsScores",
        "summary": "Get invite rewards scores for a user",
        "description": "Returns current, previous, and all-time invite rewards scores for the specified user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          },
          {
            "name": "rewardsType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invite"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User rewards scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsScoresResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/rewards-metadata": {
      "get": {
        "operationId": "getRewardsMetadata",
        "summary": "Get invite rewards metadata",
        "description": "Returns metadata for the invite rewards program including the reward period and reward distribution details.",
        "parameters": [
          {
            "name": "rewardsType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invite"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invite rewards metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsMetadataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v2/bookmarked-casts": {
      "get": {
        "operationId": "getBookmarkedCasts",
        "summary": "Get bookmarked casts",
        "description": "Returns the most recent casts bookmarked by the user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of bookmarked casts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookmarkedCastsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/starter-packs": {
      "get": {
        "operationId": "getUserStarterPacks",
        "summary": "Get starter packs",
        "description": "Returns starter packs created by a specific user.",
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of starter packs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterPacksResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/starter-packs/suggested": {
      "get": {
        "operationId": "getSuggestedStarterPacks",
        "summary": "Get suggested starter packs",
        "description": "Returns a list of suggested starter packs.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of suggested starter packs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterPacksResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/starter-pack": {
      "get": {
        "operationId": "getStarterPack",
        "summary": "Get a specific starter pack by ID",
        "description": "Returns a specific starter pack.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A starter pack object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterPackResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/starter-pack-users": {
      "get": {
        "operationId": "getStarterPackUsers",
        "summary": "Get users in a specific starter pack",
        "description": "Returns a list of users associated with a given starter pack.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of users in the starter pack",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarterPackUsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/channel": {
      "get": {
        "operationId": "getChannel",
        "summary": "Get channel details",
        "description": "Returns metadata about a channel.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Channel metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/channel-users": {
      "get": {
        "operationId": "getChannelUsers",
        "summary": "Get members of a specific channel",
        "description": "Returns users who are members of a specific channel.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "channelKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterToMembers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of users in the specified channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelUsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/following": {
      "get": {
        "operationId": "getFollowing",
        "summary": "Get users a given user is following",
        "description": "Returns a list of users followed by a specified FID.",
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of followed users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/followers": {
      "get": {
        "operationId": "getFollowers",
        "summary": "Get users following a given user",
        "description": "Returns a list of users who follow the specified FID.",
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/followers-you-know": {
      "get": {
        "operationId": "getMutualFollowers",
        "summary": "Get mutual followers of a given user",
        "description": "Returns a list of users who follow the given FID and are followed by the viewer.",
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of mutual followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersWithCountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/top-frameapps": {
      "get": {
        "operationId": "getTopFrameApps",
        "summary": "Get top FrameApps",
        "description": "Returns a list of top FrameApps with optional pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of FrameApps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameAppsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/verifications": {
      "get": {
        "operationId": "getVerifications",
        "summary": "Get verified addresses for an FID",
        "description": "Returns verified Ethereum addresses associated with a specific FID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of verifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "verifications": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VerifiedAddress"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/get-muted-keywords": {
      "get": {
        "operationId": "getMutedKeywords",
        "summary": "Get muted keywords",
        "description": "Returns a list of muted keywords for the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of muted keywords",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutedKeywordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/mute-keyword": {
      "post": {
        "operationId": "muteKeyword",
        "summary": "Mute a keyword",
        "description": "Mutes a keyword for the authenticated user with specified properties.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/MutedKeywordProperties"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The muted keyword and its settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutedKeywordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/unmute-keyword": {
      "post": {
        "operationId": "unmuteKeyword",
        "summary": "Unmute a keyword",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword unmuted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutedKeywordsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/cast-likes": {
      "get": {
        "summary": "Get cast likes",
        "operationId": "getCastLikes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "castHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of cast likes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "likes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "like"
                              },
                              "hash": {
                                "type": "string"
                              },
                              "castHash": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "integer"
                              },
                              "reactor": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Like a cast",
        "operationId": "likeCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "castHash"
                ],
                "properties": {
                  "castHash": {
                    "type": "string",
                    "example": "0x0bb901f364673e86adfc0ed4c14ececb8d9b9d27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "like": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "like"
                            },
                            "hash": {
                              "type": "string"
                            },
                            "castHash": {
                              "type": "string"
                            },
                            "timestamp": {
                              "type": "integer"
                            },
                            "reactor": {
                              "$ref": "#/components/schemas/User"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Unlike a cast",
        "operationId": "unlikeCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "castHash"
                ],
                "properties": {
                  "castHash": {
                    "type": "string",
                    "example": "0x0bb901f364673e86adfc0ed4c14ececb8d9b9d27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unlike response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/recasts": {
      "put": {
        "summary": "Recast a cast",
        "operationId": "recastCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "castHash"
                ],
                "properties": {
                  "castHash": {
                    "type": "string",
                    "example": "0x0bb901f364673e86adfc0ed4c14ececb8d9b9d27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recast response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CastHashResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Undo recast",
        "operationId": "undoRecast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "castHash"
                ],
                "properties": {
                  "castHash": {
                    "type": "string",
                    "example": "0x0bb901f364673e86adfc0ed4c14ececb8d9b9d27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Undo recast response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/cast-attachments": {
      "put": {
        "summary": "Attach embeds to a cast",
        "operationId": "attachEmbeds",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "embeds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachEmbedsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/cast-recasters": {
      "get": {
        "summary": "Get cast recasters",
        "operationId": "getCastRecasters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "castHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of users who recasted the cast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CastRecastersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/cast-quotes": {
      "get": {
        "summary": "Get quotes of a cast",
        "operationId": "getCastQuotes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "castHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of quote casts referencing the given cast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CastQuotesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-response_UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/search-channels": {
      "get": {
        "summary": "Search for channels",
        "operationId": "searchChannels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prioritizeFollowed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "forComposer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of matched channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchChannelsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/draft-caststorms": {
      "get": {
        "summary": "Get draft cast storms",
        "operationId": "getDraftCasts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of draft cast storms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a new draft casts",
        "operationId": "createDraftCasts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "idempotency-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "caststorm": {
                    "type": "object",
                    "properties": {
                      "casts": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DraftCast"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created draft caststorm",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftCreatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/draft-casts": {
      "delete": {
        "summary": "Delete a draft cast",
        "operationId": "deleteDraftCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "draftId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft cast deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/casts": {
      "get": {
        "summary": "Retrieve casts for a specific user",
        "operationId": "getCastsByFid",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The FID (Farcaster ID) of the user whose casts to retrieve"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Maximum number of casts to return",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved casts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "casts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Cast"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a new cast",
        "operationId": "createCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "embeds": {
                    "type": "array",
                    "items": {}
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "Optional channel to post the cast to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cast created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CastCreatedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Delete a cast",
        "operationId": "deleteCast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "castHash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cast deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/all-channels": {
      "get": {
        "operationId": "getAllChannels",
        "summary": "Get all channels",
        "description": "Returns a list of all channels on Warpcast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/channel": {
      "get": {
        "operationId": "getChannelDetails",
        "summary": "Get details of a specific channel",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RawChannelResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/channel-followers": {
      "get": {
        "operationId": "getChannelFollowers",
        "summary": "Get followers of a channel",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of channel followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelFollowersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/user-following-channels": {
      "get": {
        "operationId": "getUserFollowedChannels",
        "summary": "Get list of channels followed by a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of followed channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/user-channel": {
      "get": {
        "operationId": "checkUserChannelFollowStatus",
        "summary": "Check if a user is following a channel",
        "parameters": [
          {
            "$ref": "#/components/parameters/fidParam"
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with follow status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelFollowStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fc/channel-members": {
      "get": {
        "operationId": "getChannelMembers",
        "summary": "Get members of a channel",
        "parameters": [
          {
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "members"
                      ],
                      "properties": {
                        "members": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "fid",
                              "memberAt"
                            ],
                            "properties": {
                              "fid": {
                                "type": "integer",
                                "description": "Farcaster ID of the member"
                              },
                              "memberAt": {
                                "type": "integer",
                                "description": "Timestamp when the user became a member"
                              }
                            }
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "description": "Cursor for pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "members": [
                      {
                        "fid": 466624,
                        "memberAt": 1712685183
                      },
                      {
                        "fid": 469283,
                        "memberAt": 1712685067
                      }
                    ]
                  },
                  "next": {
                    "cursor": "..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fc/channel-invites": {
      "get": {
        "operationId": "getChannelInvites",
        "summary": "Get channel invites",
        "parameters": [
          {
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of channel invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "invites": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "channelId",
                              "invitedFid",
                              "invitedAt",
                              "inviterFid",
                              "role"
                            ],
                            "properties": {
                              "channelId": {
                                "type": "string"
                              },
                              "invitedFid": {
                                "type": "integer"
                              },
                              "invitedAt": {
                                "type": "integer"
                              },
                              "inviterFid": {
                                "type": "integer"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "member",
                                  "admin"
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "invites": [
                      {
                        "channelId": "coke-zero",
                        "invitedFid": 194,
                        "invitedAt": 1726879628,
                        "inviterFid": 18949,
                        "role": "member"
                      },
                      {
                        "channelId": "brain-teasers",
                        "invitedFid": 627785,
                        "invitedAt": 1726874566,
                        "inviterFid": 235128,
                        "role": "member"
                      }
                    ]
                  },
                  "next": {
                    "cursor": "..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "inviteUserToChannel",
        "summary": "Invite a user to a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "inviteFid",
                  "role"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel to invite the user to"
                  },
                  "inviteFid": {
                    "type": "integer",
                    "description": "Farcaster ID of the user being invited"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "member",
                      "admin"
                    ],
                    "description": "Role of the invited user within the channel"
                  }
                }
              },
              "example": {
                "channelId": "evm",
                "inviteFid": 341234,
                "role": "member"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful invite operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "result": {
                    "success": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeChannelInvite",
        "summary": "Remove a user's invite from a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "removeFid",
                  "role"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel from which the user's invite is being removed"
                  },
                  "removeFid": {
                    "type": "integer",
                    "description": "Farcaster ID of the user whose invite is being removed"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "member",
                      "admin"
                    ],
                    "description": "Role associated with the invite being removed"
                  }
                }
              },
              "example": {
                "channelId": "evm",
                "removeFid": 341234,
                "role": "member"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful removal of invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "result": {
                    "success": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "acceptChannelInvite",
        "summary": "Accept a channel invite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "role",
                  "accept"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel for which the invite is being accepted"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "member",
                      "admin"
                    ],
                    "description": "Role that the user will have in the channel"
                  },
                  "accept": {
                    "type": "boolean",
                    "description": "Flag indicating whether to accept the invite"
                  }
                }
              },
              "example": {
                "channelId": "evm",
                "role": "member",
                "accept": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful acceptance of invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "result": {
                    "success": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fc/moderated-casts": {
      "get": {
        "operationId": "getChannelModeratedCasts",
        "summary": "Get moderated casts for a channel",
        "parameters": [
          {
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the channel to get moderation actions for"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of moderation actions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "moderationActions"
                      ],
                      "properties": {
                        "moderationActions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "castHash",
                              "channelId",
                              "action",
                              "moderatedAt"
                            ],
                            "properties": {
                              "castHash": {
                                "type": "string",
                                "description": "Hash of the moderated cast"
                              },
                              "channelId": {
                                "type": "string",
                                "description": "ID of the channel where the cast was moderated"
                              },
                              "action": {
                                "type": "string",
                                "enum": [
                                  "hide"
                                ],
                                "description": "Type of moderation action applied"
                              },
                              "moderatedAt": {
                                "type": "integer",
                                "description": "Unix timestamp of when the moderation action was taken"
                              }
                            }
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "description": "Pagination cursor for fetching the next set of results"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "moderationActions": [
                      {
                        "castHash": "0x6b2253105ef8c1d1b984a5df87182b105a1f0b3a",
                        "channelId": "welcome",
                        "action": "hide",
                        "moderatedAt": 1727767637
                      }
                    ]
                  },
                  "next": {
                    "cursor": "..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fc/channel-restricted-users": {
      "get": {
        "operationId": "getChannelRestrictedUsers",
        "summary": "Get restricted users in a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the channel to get restricted users for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of restricted users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "restrictedUsers"
                      ],
                      "properties": {
                        "restrictedUsers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "fid",
                              "channelId",
                              "restrictedAt"
                            ],
                            "properties": {
                              "fid": {
                                "type": "integer",
                                "description": "Farcaster ID of the restricted user"
                              },
                              "channelId": {
                                "type": "string",
                                "description": "ID of the channel where the user is restricted"
                              },
                              "restrictedAt": {
                                "type": "integer",
                                "description": "Unix timestamp of when the user was restricted"
                              }
                            }
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "description": "Pagination cursor for fetching the next set of results"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "restrictedUsers": [
                      {
                        "fid": 1234,
                        "channelId": "welcome",
                        "restrictedAt": 1727767637
                      }
                    ]
                  },
                  "next": {
                    "cursor": "..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fc/channel-bans": {
      "get": {
        "operationId": "getChannelBannedUsers",
        "summary": "Get banned users in a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the channel to get banned users for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of banned users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "bannedUsers"
                      ],
                      "properties": {
                        "bannedUsers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "fid",
                              "channelId",
                              "bannedAt"
                            ],
                            "properties": {
                              "fid": {
                                "type": "integer",
                                "description": "Farcaster ID of the banned user"
                              },
                              "channelId": {
                                "type": "string",
                                "description": "ID of the channel where the user is banned"
                              },
                              "bannedAt": {
                                "type": "integer",
                                "description": "Unix timestamp of when the user was banned"
                              }
                            }
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "description": "Pagination cursor for fetching the next set of banned users"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "bannedUsers": [
                      {
                        "fid": 1234,
                        "channelId": "welcome",
                        "bannedAt": 1727767637
                      }
                    ]
                  },
                  "next": {
                    "cursor": "..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "banUserFromChannel",
        "summary": "Ban a user from a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "banFid"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "ID of the channel from which to ban the user"
                  },
                  "banFid": {
                    "type": "integer",
                    "description": "Farcaster ID of the user to ban"
                  }
                }
              },
              "example": {
                "channelId": "memes",
                "banFid": 1234
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful ban operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "result": {
                    "success": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "unbanUserFromChannel",
        "summary": "Unban a user from a channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "banFid"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
[...]
