openapi: 3.1.0

info:
  title: Warpcast API
  version: 1.0.0
  description: API for interacting with the Warpcast platform

servers:
  - url: https://api.warpcast.com
    description: Main API server
  - url: https://client.warpcccastt.com
    description: Client-side interface

tags:
  - name: User
    description: Operations related to user information and preferences
  - name: Feed
    description: Operations related to content feeds
  - name: Channels
    description: Operations related to channel management
  - name: Messaging
    description: Operations related to direct messages and casts

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    fidParam:
      name: fid
      in: query
      required: true
      schema:
        type: integer
      description: The user's FID (Farcaster ID)

    limitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: Maximum number of items to return

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication is required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

    UserByFidResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserWithExtras'
            collectionsOwned:
              type: array
              items: {}
            extras:
              $ref: '#/components/schemas/UserExtras'
    DirectCastInboxResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            hasArchived:
              type: boolean
            hasUnreadRequests:
              type: boolean
            requestsCount:
              type: integer
            conversations:
              type: array
              items:
                type: object
                properties:
                  conversationId:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  photoUrl:
                    type: string
                  adminFids:
                    type: array
                    items:
                      type: integer
                  lastReadTime:
                    type: integer
                  lastMessage:
                    type: object
                    properties:
                      conversationId:
                        type: string
                      senderFid:
                        type: integer
                      messageId:
                        type: string
                      serverTimestamp:
                        type: integer
                      type:
                        type: string
                      message:
                        type: string
                      hasMention:
                        type: boolean
                      reactions:
                        type: array
                        items: {}
                      isPinned:
                        type: boolean
                      isDeleted:
                        type: boolean
                      senderContext:
                        $ref: '#/components/schemas/User'
                  isGroup:
                    type: boolean
                  createdAt:
                    type: integer
                  viewerContext:
                    type: object
                    properties:
                      category:
                        type: string
                      lastReadAt:
                        type: integer
                      muted:
                        type: boolean
                      manuallyMarkedUnread:
                        type: boolean
                      pinned:
                        type: boolean
                      unreadCount:
                        type: integer
                      unreadMentionsCount:
                        type: integer
    UserAppContextResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            context:
              type: object
              properties:
                canAddLinks:
                  type: boolean
                showConnectedApps:
                  type: boolean
                signerRequestsEnabled:
                  type: boolean
                prompts:
                  type: array
                  items: {}
                adminForChannelKeys:
                  type: array
                  items:
                    type: string
                modOfChannelKeys:
                  type: array
                  items:
                    type: string
                memberOfChannelKeys:
                  type: array
                  items:
                    type: string
                canEditAllChannels:
                  type: boolean
                canUploadVideo:
                  type: boolean
                statsigEnabled:
                  type: boolean
                shouldPromptForPushNotifications:
                  type: boolean
                shouldPromptForUserFollowsSyncContacts:
                  type: boolean
                castActions:
                  type: array
                  items:
                    $ref: '#/components/schemas/CastAction'
                canAddCastAction:
                  type: boolean
                enabledCastAction:
                  $ref: '#/components/schemas/CastAction'
                notificationTabsV2:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                enabledVideoAutoplay:
                  type: boolean
                regularCastByteLimit:
                  type: integer
                longCastByteLimit:
                  type: integer
                newUserStatus:
                  type: object
                country:
                  type: string
                higherClientEventSamplingRateEnabled:
                  type: boolean
    CastAction:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        octicon:
          type: string
        actionUrl:
          type: string
        action:
          type: object
          properties:
            actionType:
              type: string
            postUrl:
              type: string
    User:
      $ref: './components/schemas/user.yaml'
    UserWithExtras:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            connectedAccounts:
              type: array
              items: {}
    ProfilePicture:
      type: object
      properties:
        url:
          type: string
          format: uri
        verified:
          type: boolean
    Profile:
      type: object
      properties:
        bio:
          $ref: '#/components/schemas/Bio'
        location:
          $ref: '#/components/schemas/Location'
    Bio:
      type: object
      properties:
        text:
          type: string
        mentions:
          type: array
          items: {}
        channelMentions:
          type: array
          items: {}
    Location:
      type: object
      properties:
        placeId:
          type: string
        description:
          type: string
    ViewerContext:
      type: object
      properties:
        following:
          type: boolean
        followedBy:
          type: boolean
        enableNotifications:
          type: boolean
        canSendDirectCasts:
          type: boolean
        hasUploadedInboxKeys:
          type: boolean
    UserExtras:
      type: object
      properties:
        fid:
          type: integer
        custodyAddress:
          type: string
        ethWallets:
          type: array
          items:
            type: string
        solanaWallets:
          type: array
          items:
            type: string
    UserPreferencesResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            preferences:
              type: object
              additionalProperties: true
    HighlightedChannelsResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            channels:
              type: array
              items:
                $ref: '#/components/schemas/Channel'
            viewerContext:
              type: object
              properties:
                defaultFeed:
                  type: string
    Channel:
      $ref: './components/schemas/channel.yaml'
    FeedItemsResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                additionalProperties: true
            latestMainCastTimestamp:
              type: integer
            feedTopSeenAtTimestamp:
              type: integer
            replaceFeed:
              type: boolean
    UserResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserWithExtras'
            collectionsOwned:
              type: array
              items:
                type: object
            extras:
              type: object
              properties:
                fid:
                  type: integer
                custodyAddress:
                  type: string
                ethWallets:
                  type: array
                  items:
                    type: string
                solanaWallets:
                  type: array
                  items:
                    type: string
    SuggestedUsersResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            users:
              type: array
              items:
                type: object
                additionalProperties: true
            next:
              type: object
              properties:
                cursor:
                  type: string
    Action:
      type: object
      properties:
        name:
          type: string
        icon:
          type: string
        description:
          type: string
        aboutUrl:
          type: string
          format: uri
        actionUrl:
          type: string
          format: uri
        action:
          type: object
          properties:
            actionType:
              type: string
              enum: [post, get, put, delete]
            postUrl:
              type: string
              format: uri
    SuccessResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - success
          properties:
            success:
              type: boolean
              description: Indicates whether the operation was successful
    VerifiedAddress:
      type: object
      properties:
        fid:
          type: integer
        address:
          type: string
        timestamp:
          type: integer
        version:
          type: string
        protocol:
          type: string
        isPrimary:
          type: boolean
        labels:
          type: array
          items:
            type: string
    FavoriteFramesResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - frames
          properties:
            frames:
              type: array
              items:
                type: object
                additionalProperties: true
    ChannelStreaksResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          additionalProperties: true
    UnseenCountsResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          properties:
            notificationsCount:
              type: integer
            notificationTabs:
              type: array
              items:
                type: object
                required:
                  - tab
                  - unseenCount
                properties:
                  tab:
                    type: string
                  unseenCount:
                    type: integer
            inboxCount:
              type: integer
            channelFeeds:
              type: array
              items:
                type: object
                required:
                  - channelKey
                  - feedType
                  - hasNewItems
                properties:
                  channelKey:
                    type: string
                  feedType:
                    type: string
                  hasNewItems:
                    type: boolean
            warpTransactionCount:
              type: integer
    UserThreadCastsResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - casts
          properties:
            casts:
              type: array
              items:
                type: object
                additionalProperties: true
    ChannelFollowersYouKnowResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [users, totalCount]
          properties:
            users:
              type: array
              items:
                type: object
                additionalProperties: true
            totalCount:
              type: integer
    NotificationsResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            notifications:
              type: array
              items:
                type: object
                additionalProperties: true
    DirectCastConversationResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            conversation:
              type: object
              additionalProperties: true
    DiscoverChannelsResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            channels:
              type: array
              items:
                type: object
                additionalProperties: true
    InvitesAvailableResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required:
            - allocatedInvitesCount
            - availableInvitesCount
          properties:
            allocatedInvitesCount:
              type: integer
              description: Total number of invites allocated to the user
            availableInvitesCount:
              type: integer
              description: Number of invites currently available to send
    SponsoredInvitesResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            invites:
              type: array
              items:
                type: object
        additionalProperties: true
    RewardsLeaderboardResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [leaderboard]
          properties:
            leaderboard:
              type: object
              required: [type, users]
              properties:
                type:
                  type: string
                users:
                  type: array
                  items:
                    type: object
                    properties:
                      user:
                        type: object
                        additionalProperties: true
                      score:
                        type: integer
                      rank:
                        type: integer
    RewardsScoresResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [scores]
          properties:
            scores:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  user:
                    type: object
                    additionalProperties: true
                  allTimeScore:
                    type: integer
                  currentPeriodScore:
                    type: integer
                  previousPeriodScore:
                    type: integer
    RewardsMetadataResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [metadata]
          properties:
            metadata:
              type: object
              required:
                - type
                - lastUpdateTimestamp
                - currentPeriodStartTimestamp
                - currentPeriodEndTimestamp
              properties:
                type:
                  type: string
                lastUpdateTimestamp:
                  type: integer
                currentPeriodStartTimestamp:
                  type: integer
                currentPeriodEndTimestamp:
                  type: integer
                tiers:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                proportionalPayout:
                  type: object
                  properties:
                    numWinners:
                      type: integer
                    totalRewardCents:
                      type: integer
    StarterPack:
      type: object
      additionalProperties: true
    StarterPacksResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            starterPacks:
              type: array
              items:
                $ref: '#/components/schemas/StarterPack'
    StarterPackResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            starterPack:
              $ref: '#/components/schemas/StarterPack'

    StarterPackUsersResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
    BookmarkedCast:
      type: object
      additionalProperties: true
    BookmarkedCastsResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            bookmarks:
              type: array
              items:
          $ref: '#/components/schemas/BookmarkedCast'
    ChannelResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            channel:
              $ref: '#/components/schemas/Channel'

    ChannelUsersResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
    UsersResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [users]
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'

    UsersWithCountResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          required: [users, totalCount]
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
            totalCount:
              type: integer
    MutedKeywordProperties:
      type: object
      properties:
        channels:
          type: boolean
        frames:
          type: boolean
        notifications:
          type: boolean

    MutedKeyword:
      type: object
      required: [keyword, properties]
      properties:
        keyword:
          type: string
        properties:
          $ref: '#/components/schemas/MutedKeywordProperties'

    MutedKeywordsResponse:
      type: object
      required: [success, result]
      properties:
        success:
          type: boolean
        result:
          type: object
          required: [keywords, mutedKeywords]
          properties:
            keywords:
              type: array
              items:
                type: string
            mutedKeywords:
              type: array
              items:
                $ref: '#/components/schemas/MutedKeyword'
    CastHashResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            castHash:
              type: string
              example: '0x750a7269b4a3b70e28d3f450df33487047d4927f'

    AttachEmbedsResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          additionalProperties: true

    CastQuote:
      type: object
      properties:
        hash:
          type: string
        threadHash:
          type: string
        parentSource:
          type: object
          properties:
            type:
              type: string
            url:
              type: string
        author:
          $ref: '#/components/schemas/User'
        text:
          type: string
        timestamp:
          type: integer

    CastQuotesResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            quotes:
              type: array
              items:
                $ref: '#/components/schemas/CastQuote'

    CastRecastersResponse:
      type: object
      required: [result]
      properties:
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
    EmbedGroups:
      type: object
      properties:
        images:
          type: array
          items: {}
        urls:
          type: array
          items: {}
        videos:
          type: array
          items: {}
        unknowns:
          type: array
          items: {}

    Cast:
      type: object
      properties:
        hash:
          type: string
        threadHash:
          type: string
        text:
          type: string
        timestamp:
          type: integer
        embeds:
          $ref: '#/components/schemas/EmbedGroups'

    DraftCast:
      type: object
      properties:
        text:
          type: string
        embeds:
          type: array
          items: {}

    Draft:
      type: object
      properties:
        draftId:
          type: string
        casts:
          type: array
          items:
            $ref: '#/components/schemas/DraftCast'

    DraftsResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            drafts:
              type: array
              items: {}

    DraftCreatedResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            draft:
              $ref: '#/components/schemas/Draft'

    CastCreatedResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            cast:
              $ref: '#/components/schemas/Cast'

    RawChannel:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        name:
          type: string
        description:
          type: string
        descriptionMentions:
          type: array
          items:
            type: integer
        descriptionMentionsPositions:
          type: array
          items:
            type: integer
        imageUrl:
          type: string
        headerImageUrl:
          type: string
        leadFid:
          type: integer
        moderatorFids:
          type: array
          items:
            type: integer
        createdAt:
          type: integer
        followerCount:
          type: integer
        memberCount:
          type: integer
        pinnedCastHash:
          type: string
        publicCasting:
          type: boolean
        externalLink:
          type: object
          properties:
            title:
              type: string
            url:
              type: string

    RawChannelResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            channel:
              $ref: '#/components/schemas/RawChannel'

    ChannelListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            channels:
              type: array
              items:
                $ref: '#/components/schemas/RawChannel'

    ChannelFollowStatus:
      type: object
      properties:
        following:
          type: boolean
        followedAt:
          type: integer

    ChannelFollowStatusResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/ChannelFollowStatus'

    ChannelFollower:
      type: object
      properties:
        fid:
          type: integer
        followedAt:
          type: integer

    ChannelFollowersResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/ChannelFollower'
            next:
              type: object
              properties:
                cursor:
                  type: string

paths:
  /v2/onboarding-state:
    $ref: './paths/v2/onboarding-state.yaml'

  /v2/user-by-fid:
    $ref: './paths/v2/user-by-fid.yaml'

  /v2/direct-cast-inbox:
    $ref: './paths/v2/direct-cast-inbox.yaml'

  /v2/user-app-context:
    $ref: './paths/v2/user-app-context.yaml'

  /v2/user-preferences:
    $ref: './paths/v2/user-preferences.yaml'

  /v2/highlighted-channels:
    $ref: './paths/v2/highlighted-channels.yaml'

  /v2/feed-items:
    $ref: './paths/v2/feed-items.yaml'

  /v2/user:
    $ref: './paths/v2/user.yaml'

  /v2/user-following-channels:
    $ref: './paths/v2/user-following-channels.yaml'

  /v2/suggested-users:
    $ref: './paths/v2/suggested-users.yaml'

  /v1/favorite-frames:
    $ref: './paths/v1/favorite-frames.yaml'

  /v2/user-by-username:
    $ref: './paths/v2/user-by-username.yaml'

  /v2/channel-streaks:
    $ref: './paths/v2/channel-streaks.yaml'

  /v2/unseen:
    $ref: './paths/v2/unseen.yaml'

  /v2/user-thread-casts:
    $ref: './paths/v2/user-thread-casts.yaml'

  /v2/channel-followers-you-know:
    $ref: './paths/v2/channel-followers-you-know.yaml'

  /v2/mark-all-notifications-read:
    $ref: './paths/v2/mark-all-notifications-read.yaml'

  /v1/notifications-for-tab:
    $ref: './paths/v1/notifications-for-tab.yaml'

  /v2/set-last-checked-timestamp:
    $ref: './paths/v2/set-last-checked-timestamp.yaml'

  /v2/direct-cast-conversation:
    $ref: './paths/v2/direct-cast-conversation.yaml'

  /v2/discover-channels:
    $ref: './paths/v2/discover-channels.yaml'

  /v2/invites-available:
    $ref: './paths/v2/invites-available.yaml'

  /v2/warpcast-sponsored-invites:
    $ref: './paths/v2/warpcast-sponsored-invites.yaml'

  /v2/rewards-leaderboard:
    $ref: './paths/v2/rewards-leaderboard.yaml'

  /v2/rewards-scores-for-user:
    $ref: './paths/v2/rewards-scores-for-user.yaml'

  /v2/rewards-metadata:
    $ref: './paths/v2/rewards-metadata.yaml'

  /v2/bookmarked-casts:
    $ref: './paths/v2/bookmarked-casts.yaml'

  /v2/starter-packs:
    $ref: './paths/v2/starter-packs.yaml'

  /v2/starter-packs/suggested:
    $ref: './paths/v2/starter-packs-suggested.yaml'

  /v2/starter-pack:
    $ref: './paths/v2/starter-pack.yaml'

  /v2/starter-pack-users:
    $ref: './paths/v2/starter-pack-users.yaml'

  /v2/channel:
    $ref: './paths/v2/channel.yaml'

  /v1/channel-users:
    $ref: './paths/v1/channel-users.yaml'

  /v2/following:
    $ref: './paths/v2/following.yaml'

  /v2/followers:
    $ref: './paths/v2/followers.yaml'

  /v2/followers-you-know:
    $ref: './paths/v2/followers-you-know.yaml'

  /v1/top-frameapps:
    $ref: './paths/v1/top-frameapps.yaml'

  /v2/verifications:
    $ref: './paths/v2/verifications.yaml'

  /v2/get-muted-keywords:
    $ref: './paths/v2/get-muted-keywords.yaml'

  /v2/mute-keyword:
    $ref: './paths/v2/mute-keyword.yaml'

  /v2/unmute-keyword:
    $ref: './paths/v2/unmute-keyword.yaml'

  /v2/cast-likes:
    $ref: './paths/v2/cast-likes.yaml'

  /v2/recasts:
    $ref: './paths/v2/recasts.yaml'

  /v2/cast-attachments:
    $ref: './paths/v2/cast-attachments.yaml'

  /v2/cast-recasters:
    $ref: './paths/v2/cast-recasters.yaml'

  /v2/cast-quotes:
    $ref: './paths/v2/cast-quotes.yaml'

  /v2/me:
    $ref: './paths/v2/me.yaml'

  /v2/search-channels:
    $ref: './paths/v2/search-channels.yaml'

  /v2/draft-caststorms:
    $ref: './paths/v2/draft-caststorms.yaml'

  /v2/draft-casts:
    $ref: './paths/v2/draft-casts.yaml'

  /v2/casts:
    $ref: './paths/v2/casts.yaml'

  /v2/all-channels:
    $ref: './paths/v2/all-channels.yaml'

  /v1/channel:
    $ref: './paths/v1/channel.yaml'

  /v1/channel-followers:
    $ref: './paths/v1/channel-followers.yaml'

  /v1/user-following-channels:
    $ref: './paths/v1/user-following-channels.yaml'

  /v1/user-channel:
    $ref: './paths/v1/user-channel.yaml'

  /fc/channel-members:
    $ref: './paths/fc/channel-members.yaml'

  /fc/channel-invites:
    $ref: './paths/fc/channel-invites.yaml'

  /fc/moderated-casts:
    $ref: './paths/fc/moderated-casts.yaml'

  /fc/channel-restricted-users:
    $ref: './paths/fc/channel-restricted-users.yaml'

  /fc/channel-bans:
    $ref: './paths/fc/channel-bans.yaml'

  /fc/channel-follows:
    $ref: './paths/fc/channel-follows.yaml'

  /fc/moderate-cast:
    $ref: './paths/fc/moderate-cast.yaml'

  /fc/pinned-casts:
    $ref: './paths/fc/pinned-casts.yaml'

  /v2/discover-actions:
    $ref: './paths/v2/discover-actions.yaml'

  /v2/discover-composer-actions:
    $ref: './paths/v2/discover-composer-actions.yaml'

  /fc/blocked-users:
    $ref: './paths/fc/blocked-users.yaml'

  /fc/account-verifications:
    $ref: './paths/fc/account-verifications.yaml'

  /v1/creator-rewards-winner-history:
    $ref: './paths/v1/creator-rewards-winner-history.yaml'

  /fc/primary-address:
    $ref: './paths/fc/primary-address.yaml'

  /fc/primary-addresses:
    $ref: './paths/fc/primary-addresses.yaml'

  /fc/starter-pack-members:
    $ref: './paths/fc/starter-pack-members.yaml'

  /v2/ext-send-direct-cast:
    $ref: './paths/v2/ext-send-direct-cast.yaml'

  /v2/user-by-verification:
    $ref: './paths/v2/user-by-verification.yaml'

  /v1/developer-rewards-winner-history:
    $ref: './paths/v1/developer-rewards-winner-history.yaml'
